In [39]:
import pandas as pd
import seaborn as sns
import geopandas as gpd
import numpy as np

In [40]:
df_geo_json = gpd.read_file('london.json')
df=pd.read_csv('training_WeeklyAggregate.csv')

In [41]:
df_geo_json

,msoa_code,msoa_name,la_code,la_name,geoeast,geonorth,popeast,popnorth,area_km2,MOVEMENT_ID,DISPLAY_NAME,geometry
0,E02000508,Hillingdon 015,00AS,Hillingdon,506163,183536,505978,183811,2.746600,0,"Hillingdon, 00AS (0)","MULTIPOLYGON (((-0.47794 51.55485, -0.47665 51..."
1,E02000716,Newham 003,00BB,Newham,541978,186009,541870,185568,1.565170,1,"Newham, 00BB (1)","MULTIPOLYGON (((0.05255 51.56171, 0.05310 51.5..."
2,E02000747,Newham 034,00BB,Newham,539578,181317,539891,181438,2.082410,2,"Newham, 00BB (2)","MULTIPOLYGON (((0.01001 51.52181, 0.01003 51.5..."
3,E02000748,Newham 035,00BB,Newham,542500,181152,542439,181339,1.331750,3,"Newham, 00BB (3)","MULTIPOLYGON (((0.05392 51.51611, 0.05174 51.5..."
4,E02000749,Newham 036,00BB,Newham,541047,181103,540847,181294,1.419020,4,"Newham, 00BB (4)","MULTIPOLYGON (((0.03241 51.51704, 0.03179 51.5..."
...,...,...,...,...,...,...,...,...,...,...,...,...
978,E02000974,Westminster 015,00BK,Westminster,527028,181254,527172,181179,0.689337,978,"Westminster, 00BK (978)","MULTIPOLYGON (((-0.17019 51.51994, -0.16019 51..."
979,E02000975,Westminster 016,00BK,Westminster,526396,181129,526375,181042,0.484638,979,"Westminster, 00BK (979)","MULTIPOLYGON (((-0.17867 51.52008, -0.17898 51..."
980,E02000980,Westminster 021,00BK,Westminster,529921,178656,529758,178698,0.539208,980,"Westminster, 00BK (980)","MULTIPOLYGON (((-0.12279 51.49453, -0.12305 51..."
981,E02000981,Westminster 022,00BK,Westminster,529123,178488,529140,178401,0.363777,981,"Westminster, 00BK (981)","MULTIPOLYGON (((-0.14126 51.49455, -0.14080 51..."
982,E02000983,Westminster 024,00BK,Westminster,529464,178054,529488,178111,0.559636,982,"Westminster, 00BK (982)","MULTIPOLYGON (((-0.12710 51.48764, -0.12957 51..."

In [42]:
df

      sourceid  dstid  dow  mean_travel_time
0           10    241    3           2334.43
1           10    612    5           1529.83
2           10    905    4           1390.04
3           10    407    7            157.91
4           10    603    4           1781.67
...        ...    ...  ...               ...
9825       657    207    6           1742.70
9826       657    359    2           2693.21
9827       657    656    7            298.18
9828       657    540    7            312.27
9829       657    560    1           1345.90

[9830 rows x 4 columns]

In [43]:
df_extract_geo_json=df_geo_json[['geoeast', 'geonorth',  'popeast', 'popnorth','MOVEMENT_ID']]

In [44]:
df_extract_geo_json

     geoeast  geonorth  popeast  popnorth MOVEMENT_ID
0     506163    183536   505978    183811           0
1     541978    186009   541870    185568           1
2     539578    181317   539891    181438           2
3     542500    181152   542439    181339           3
4     541047    181103   540847    181294           4
..       ...       ...      ...       ...         ...
978   527028    181254   527172    181179         978
979   526396    181129   526375    181042         979
980   529921    178656   529758    178698         980
981   529123    178488   529140    178401         981
982   529464    178054   529488    178111         982

[983 rows x 5 columns]

In [45]:
result=df.join(df_extract_geo_json, on='sourceid')

In [46]:
result

,sourceid,dstid,dow,mean_travel_time,geoeast,geonorth,popeast,popnorth,MOVEMENT_ID
0,10,241,3,2334.43,542413,182380,542450,182415,10
1,10,612,5,1529.83,542413,182380,542450,182415,10
2,10,905,4,1390.04,542413,182380,542450,182415,10
3,10,407,7,157.91,542413,182380,542450,182415,10
4,10,603,4,1781.67,542413,182380,542450,182415,10
...,...,...,...,...,...,...,...,...,...
9825,657,207,6,1742.70,509284,182666,509368,182517,657
9826,657,359,2,2693.21,509284,182666,509368,182517,657
9827,657,656,7,298.18,509284,182666,509368,182517,657
9828,657,540,7,312.27,509284,182666,509368,182517,657
9829,657,560,1,1345.90,509284,182666,509368,182517,657

In [47]:
result = result.rename(columns={'geoeast': 'src_geoeast', 'geonorth': 'src_geonorth', 'popeast': 'src_popeast', 'popnorth': 'src_popnorth'})

In [48]:
result.drop('MOVEMENT_ID', inplace=True, axis=1)

In [49]:
result

,sourceid,dstid,dow,mean_travel_time,src_geoeast,src_geonorth,src_popeast,src_popnorth
0,10,241,3,2334.43,542413,182380,542450,182415
1,10,612,5,1529.83,542413,182380,542450,182415
2,10,905,4,1390.04,542413,182380,542450,182415
3,10,407,7,157.91,542413,182380,542450,182415
4,10,603,4,1781.67,542413,182380,542450,182415
...,...,...,...,...,...,...,...,...
9825,657,207,6,1742.70,509284,182666,509368,182517
9826,657,359,2,2693.21,509284,182666,509368,182517
9827,657,656,7,298.18,509284,182666,509368,182517
9828,657,540,7,312.27,509284,182666,509368,182517
9829,657,560,1,1345.90,509284,182666,509368,182517

In [50]:
result_2=result.join(df_extract_geo_json, on='dstid')

In [51]:
result_2.drop('MOVEMENT_ID', inplace=True, axis=1)
result_2

,sourceid,dstid,dow,mean_travel_time,src_geoeast,src_geonorth,src_popeast,src_popnorth,geoeast,geonorth,popeast,popnorth
0,10,241,3,2334.43,542413,182380,542450,182415,530851,174285,530876,174289
1,10,612,5,1529.83,542413,182380,542450,182415,551347,192721,550534,191931
2,10,905,4,1390.04,542413,182380,542450,182415,535060,178641,535009,178663
3,10,407,7,157.91,542413,182380,542450,182415,544366,183515,544543,183531
4,10,603,4,1781.67,542413,182380,542450,182415,532416,197315,532432,197391
...,...,...,...,...,...,...,...,...,...,...,...,...
9825,657,207,6,1742.70,509284,182666,509368,182517,523999,180757,524025,180791
9826,657,359,2,2693.21,509284,182666,509368,182517,529177,181229,529175,181482
9827,657,656,7,298.18,509284,182666,509368,182517,507078,182644,507235,182827
9828,657,540,7,312.27,509284,182666,509368,182517,511046,183262,511310,183074
9829,657,560,1,1345.90,509284,182666,509368,182517,516302,180206,516346,180172

In [52]:
result_2 = result_2.rename(columns={'geoeast': 'dst_geoeast', 'geonorth': 'dst_geonorth', 'popeast': 'dst_popeast', 'popnorth': 'dst_popnorth'})

In [53]:
result_2['geo_distance'] = np.sqrt(((result_2['src_geoeast'] - result_2['dst_geoeast'])**2) + (result_2['src_geonorth'] - result_2['dst_geonorth'])**2)

In [61]:
result_2

,sourceid,dstid,dow,mean_travel_time,src_geoeast,src_geonorth,src_popeast,src_popnorth,dst_geoeast,dst_geonorth,dst_popeast,dst_popnorth,geo_distance
0,10,241,3,2334.43,542413,182380,542450,182415,530851,174285,530876,174289,14114.137204
1,10,612,5,1529.83,542413,182380,542450,182415,551347,192721,550534,191931,13665.746851
2,10,905,4,1390.04,542413,182380,542450,182415,535060,178641,535009,178663,8249.044187
3,10,407,7,157.91,542413,182380,542450,182415,544366,183515,544543,183531,2258.856791
4,10,603,4,1781.67,542413,182380,542450,182415,532416,197315,532432,197391,17972.040340
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9825,657,207,6,1742.70,509284,182666,509368,182517,523999,180757,524025,180791,14838.312101
9826,657,359,2,2693.21,509284,182666,509368,182517,529177,181229,529175,181482,19944.834369
9827,657,656,7,298.18,509284,182666,509368,182517,507078,182644,507235,182827,2206.109698
9828,657,540,7,312.27,509284,182666,509368,182517,511046,183262,511310,183074,1860.069891
9829,657,560,1,1345.90,509284,182666,509368,182517,516302,180206,516346,180172,7436.660810

In [62]:
result_2['pop_distance'] = np.sqrt(((result_2['src_popeast'] - result_2['dst_popeast'])**2) + (result_2['src_popnorth'] - result_2['dst_popnorth'])**2)

In [63]:
result_2

,sourceid,dstid,dow,mean_travel_time,src_geoeast,src_geonorth,src_popeast,src_popnorth,dst_geoeast,dst_geonorth,dst_popeast,dst_popnorth,geo_distance,pop_distance
0,10,241,3,2334.43,542413,182380,542450,182415,530851,174285,530876,174289,14114.137204,14141.759155
1,10,612,5,1529.83,542413,182380,542450,182415,551347,192721,550534,191931,13665.746851,12486.204868
2,10,905,4,1390.04,542413,182380,542450,182415,535060,178641,535009,178663,8249.044187,8333.425766
3,10,407,7,157.91,542413,182380,542450,182415,544366,183515,544543,183531,2258.856791,2371.941188
4,10,603,4,1781.67,542413,182380,542450,182415,532416,197315,532432,197391,17972.040340,18017.793983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9825,657,207,6,1742.70,509284,182666,509368,182517,523999,180757,524025,180791,14838.312101,14758.276492
9826,657,359,2,2693.21,509284,182666,509368,182517,529177,181229,529175,181482,19944.834369,19834.023142
9827,657,656,7,298.18,509284,182666,509368,182517,507078,182644,507235,182827,2206.109698,2155.409242
9828,657,540,7,312.27,509284,182666,509368,182517,511046,183262,511310,183074,1860.069891,2020.300225
9829,657,560,1,1345.90,509284,182666,509368,182517,516302,180206,516346,180172,7436.660810,7361.488233

In [ ]:
x = result_2[['']
y = result_2['mean_travel_time']