In [1]:
import pandas as pd
import seaborn as sns
import geopandas as gpd

In [2]:
# df_json = pd.read_json('london.json')
df_geo_json = gpd.read_file('london.json')
df = pd.read_csv('training_WeeklyAggregate.csv')

In [3]:
df_geo_json

,msoa_code,msoa_name,la_code,la_name,geoeast,geonorth,popeast,popnorth,area_km2,MOVEMENT_ID,DISPLAY_NAME,geometry
0,E02000508,Hillingdon 015,00AS,Hillingdon,506163,183536,505978,183811,2.746600,0,"Hillingdon, 00AS (0)","MULTIPOLYGON (((-0.47794 51.55485, -0.47665 51..."
1,E02000716,Newham 003,00BB,Newham,541978,186009,541870,185568,1.565170,1,"Newham, 00BB (1)","MULTIPOLYGON (((0.05255 51.56171, 0.05310 51.5..."
2,E02000747,Newham 034,00BB,Newham,539578,181317,539891,181438,2.082410,2,"Newham, 00BB (2)","MULTIPOLYGON (((0.01001 51.52181, 0.01003 51.5..."
3,E02000748,Newham 035,00BB,Newham,542500,181152,542439,181339,1.331750,3,"Newham, 00BB (3)","MULTIPOLYGON (((0.05392 51.51611, 0.05174 51.5..."
4,E02000749,Newham 036,00BB,Newham,541047,181103,540847,181294,1.419020,4,"Newham, 00BB (4)","MULTIPOLYGON (((0.03241 51.51704, 0.03179 51.5..."
...,...,...,...,...,...,...,...,...,...,...,...,...
978,E02000974,Westminster 015,00BK,Westminster,527028,181254,527172,181179,0.689337,978,"Westminster, 00BK (978)","MULTIPOLYGON (((-0.17019 51.51994, -0.16019 51..."
979,E02000975,Westminster 016,00BK,Westminster,526396,181129,526375,181042,0.484638,979,"Westminster, 00BK (979)","MULTIPOLYGON (((-0.17867 51.52008, -0.17898 51..."
980,E02000980,Westminster 021,00BK,Westminster,529921,178656,529758,178698,0.539208,980,"Westminster, 00BK (980)","MULTIPOLYGON (((-0.12279 51.49453, -0.12305 51..."
981,E02000981,Westminster 022,00BK,Westminster,529123,178488,529140,178401,0.363777,981,"Westminster, 00BK (981)","MULTIPOLYGON (((-0.14126 51.49455, -0.14080 51..."
982,E02000983,Westminster 024,00BK,Westminster,529464,178054,529488,178111,0.559636,982,"Westminster, 00BK (982)","MULTIPOLYGON (((-0.12710 51.48764, -0.12957 51..."

In [4]:
sum(df_geo_json['MOVEMENT_ID']=='0')

1

In [5]:
df['sourceid'].max()

982

In [6]:
df['sourceid'].min()

0

In [7]:
df_geo_json.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 983 entries, 0 to 982
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   msoa_code     983 non-null    object
 1   msoa_name     983 non-null    object
 2   la_code       983 non-null    object
 3   la_name       983 non-null    object
 4   geoeast       983 non-null    int64
 5   geonorth      983 non-null    int64
 6   popeast       983 non-null    int64
 7   popnorth      983 non-null    int64
 8   area_km2      983 non-null    float64
 9   MOVEMENT_ID   983 non-null    object
 10  DISPLAY_NAME  983 non-null    object
 11  geometry      983 non-null    geometry
dtypes: float64(1), geometry(1), int64(4), object(6)
memory usage: 92.3+ KB

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9830 entries, 0 to 9829
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sourceid          9830 non-null   int64
 1   dstid             9830 non-null   int64
 2   dow               9830 non-null   int64
 3   mean_travel_time  9830 non-null   float64
dtypes: float64(1), int64(3)
memory usage: 307.3 KB

In [9]:
df_geo_json['geoeast'][df_geo_json['MOVEMENT_ID']==str(df['sourceid'])]

Series([], Name: geoeast, dtype: int64)

In [10]:
df.sort_values(by='sourceid', ascending=True, inplace=True, ignore_index=True)

In [11]:
df

      sourceid  dstid  dow  mean_travel_time
0            0    136    5           2557.68
1            0    680    7           1754.80
2            0    755    7           2850.00
3            0    696    5           1338.51
4            0    487    6           1011.56
...        ...    ...  ...               ...
9825       982     96    1           1639.58
9826       982    332    5            554.16
9827       982    442    3           2705.68
9828       982    355    2           1373.61
9829       982    768    2           1601.39

[9830 rows x 4 columns]

In [12]:
df_geo_json

,msoa_code,msoa_name,la_code,la_name,geoeast,geonorth,popeast,popnorth,area_km2,MOVEMENT_ID,DISPLAY_NAME,geometry
0,E02000508,Hillingdon 015,00AS,Hillingdon,506163,183536,505978,183811,2.746600,0,"Hillingdon, 00AS (0)","MULTIPOLYGON (((-0.47794 51.55485, -0.47665 51..."
1,E02000716,Newham 003,00BB,Newham,541978,186009,541870,185568,1.565170,1,"Newham, 00BB (1)","MULTIPOLYGON (((0.05255 51.56171, 0.05310 51.5..."
2,E02000747,Newham 034,00BB,Newham,539578,181317,539891,181438,2.082410,2,"Newham, 00BB (2)","MULTIPOLYGON (((0.01001 51.52181, 0.01003 51.5..."
3,E02000748,Newham 035,00BB,Newham,542500,181152,542439,181339,1.331750,3,"Newham, 00BB (3)","MULTIPOLYGON (((0.05392 51.51611, 0.05174 51.5..."
4,E02000749,Newham 036,00BB,Newham,541047,181103,540847,181294,1.419020,4,"Newham, 00BB (4)","MULTIPOLYGON (((0.03241 51.51704, 0.03179 51.5..."
...,...,...,...,...,...,...,...,...,...,...,...,...
978,E02000974,Westminster 015,00BK,Westminster,527028,181254,527172,181179,0.689337,978,"Westminster, 00BK (978)","MULTIPOLYGON (((-0.17019 51.51994, -0.16019 51..."
979,E02000975,Westminster 016,00BK,Westminster,526396,181129,526375,181042,0.484638,979,"Westminster, 00BK (979)","MULTIPOLYGON (((-0.17867 51.52008, -0.17898 51..."
980,E02000980,Westminster 021,00BK,Westminster,529921,178656,529758,178698,0.539208,980,"Westminster, 00BK (980)","MULTIPOLYGON (((-0.12279 51.49453, -0.12305 51..."
981,E02000981,Westminster 022,00BK,Westminster,529123,178488,529140,178401,0.363777,981,"Westminster, 00BK (981)","MULTIPOLYGON (((-0.14126 51.49455, -0.14080 51..."
982,E02000983,Westminster 024,00BK,Westminster,529464,178054,529488,178111,0.559636,982,"Westminster, 00BK (982)","MULTIPOLYGON (((-0.12710 51.48764, -0.12957 51..."

In [13]:
df_json = df_geo_json[['geoeast','geonorth', 'popeast', 'popnorth', 'area_km2', 'MOVEMENT_ID']]

In [14]:
df_json = pd.concat([df_json]*10, ignore_index=True)

In [15]:
df_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9830 entries, 0 to 9829
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   geoeast      9830 non-null   int64
 1   geonorth     9830 non-null   int64
 2   popeast      9830 non-null   int64
 3   popnorth     9830 non-null   int64
 4   area_km2     9830 non-null   float64
 5   MOVEMENT_ID  9830 non-null   object
dtypes: float64(1), int64(4), object(1)
memory usage: 460.9+ KB

In [16]:
df_json['MOVEMENT_ID'] =  df_json['MOVEMENT_ID'].astype(int)
df_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9830 entries, 0 to 9829
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   geoeast      9830 non-null   int64
 1   geonorth     9830 non-null   int64
 2   popeast      9830 non-null   int64
 3   popnorth     9830 non-null   int64
 4   area_km2     9830 non-null   float64
 5   MOVEMENT_ID  9830 non-null   int32
dtypes: float64(1), int32(1), int64(4)
memory usage: 422.5 KB

In [17]:
df_json.sort_values(by='MOVEMENT_ID', ascending=True, inplace=True, ignore_index=True)

In [18]:
df_json

      geoeast  geonorth  popeast  popnorth  area_km2  MOVEMENT_ID
0      506163    183536   505978    183811  2.746600            0
1      506163    183536   505978    183811  2.746600            0
2      506163    183536   505978    183811  2.746600            0
3      506163    183536   505978    183811  2.746600            0
4      506163    183536   505978    183811  2.746600            0
...       ...       ...      ...       ...       ...          ...
9825   529464    178054   529488    178111  0.559636          982
9826   529464    178054   529488    178111  0.559636          982
9827   529464    178054   529488    178111  0.559636          982
9828   529464    178054   529488    178111  0.559636          982
9829   529464    178054   529488    178111  0.559636          982

[9830 rows x 6 columns]

In [19]:
df['src_geoeast'] = df_json['geoeast']
df['src_geonorth'] = df_json['geonorth']
df['src_popeast'] = df_json['popeast']
df['src_popnorth'] = df_json['popnorth']
df['src_area'] = df_json['area_km2']

In [20]:
df

,sourceid,dstid,dow,mean_travel_time,src_geoeast,src_geonorth,src_popeast,src_popnorth,src_area
0,0,136,5,2557.68,506163,183536,505978,183811,2.746600
1,0,680,7,1754.80,506163,183536,505978,183811,2.746600
2,0,755,7,2850.00,506163,183536,505978,183811,2.746600
3,0,696,5,1338.51,506163,183536,505978,183811,2.746600
4,0,487,6,1011.56,506163,183536,505978,183811,2.746600
...,...,...,...,...,...,...,...,...,...
9825,982,96,1,1639.58,529464,178054,529488,178111,0.559636
9826,982,332,5,554.16,529464,178054,529488,178111,0.559636
9827,982,442,3,2705.68,529464,178054,529488,178111,0.559636
9828,982,355,2,1373.61,529464,178054,529488,178111,0.559636
9829,982,768,2,1601.39,529464,178054,529488,178111,0.559636

In [22]:
df.sort_values(by='dstid', ascending=True, ignore_index=True, inplace=True)

In [23]:
df

,sourceid,dstid,dow,mean_travel_time,src_geoeast,src_geonorth,src_popeast,src_popnorth,src_area
0,693,0,5,1752.22,517234,189119,517348,189179,1.158250
1,498,0,5,1042.44,515222,177901,515630,177142,4.866730
2,711,0,5,1130.99,509610,190710,509784,190810,2.728040
3,199,0,6,1309.26,513802,189943,514106,189603,2.123810
4,371,0,6,1570.25,521788,188099,521897,188299,2.193460
...,...,...,...,...,...,...,...,...,...
9825,896,982,6,2830.00,540140,190676,540121,190679,1.491520
9826,534,982,4,2416.57,512816,184720,513067,184803,1.728290
9827,49,982,1,2375.59,520326,193012,520294,192969,1.794600
9828,665,982,5,1698.64,522111,180476,522197,180405,0.496497
9829,350,982,2,1212.50,528085,172616,528107,172608,0.491699

In [25]:
df_json[]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9830 entries, 0 to 9829
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   geoeast      9830 non-null   int64
 1   geonorth     9830 non-null   int64
 2   popeast      9830 non-null   int64
 3   popnorth     9830 non-null   int64
 4   area_km2     9830 non-null   float64
 5   MOVEMENT_ID  9830 non-null   int32
dtypes: float64(1), int32(1), int64(4)
memory usage: 422.5 KB